<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate QR Code</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<a class="back-button" href="/">Back to Home</a>
<div class="qr-container">
    <h2>Generate QR Code</h2>
    <div id="qr-code-container" class="qr-code-box">
        <div id="qr-code"></div>
    </div>
    <button id="generate-btn" class="button">Generate QR Code</button>
</div>
<script src="/static/js/generate.js"></script>
</body>
</html>
